/* 
  ========================================
  RESET BÁSICO
  ========================================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  ========================================
  TIPOGRAFÍA BASE
  ========================================
*/
body {
  font-family: 'Merriweather', serif;
  background-color: #ffdc00;
  color: #333;
}

/*
  ========================================
  CONTENEDOR PRINCIPAL
  ========================================
*/
.container {
  display: flex;
  flex-direction: row;
  height: 101vh;
}

/*
  ========================================
  SECCIÓN IZQUIERDA
  ========================================
*/
.left-section {
  width: 50%;
  background-color: #ffdc00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem;
}

.logo-circle {
  width: 229px;
  height: 219px;
  border-radius: 73%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.logo-circle img {
  width: 93%;
  height: auto;
}

.left-section h1 {
  font-size: 4rem;
  color: #000;
  margin-bottom: 0.3rem;
}

.left-section h2 {
  font-size: 2.7rem;
  color: #000;
}

/*
  ========================================
  SECCIÓN DERECHA ADAPTADA
  ========================================
*/
.right-section {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Pega la imagen arriba */
  padding-top: 2rem; /* Opcional: espacio arriba */
  overflow: hidden;
  border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    border-top-right-radius: 0;
    transform: rotate(270deg); /* Rota la imagen a vertical */    
    border-bottom-right-radius: 0;
}

.right-section img {
  height: auto;
  width: 383%; /* Ajusta el ancho al contenedor */
  max-width: 395%; /* Asegura que la imagen no se expanda más allá del contenedor */
  object-fit: contain;
  display: block;
  transform: rotate(90deg); /* Si es necesario para la orientación */
}



