body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    height: 600px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.left-side {
    background: rgb(5, 10, 48);
    color: white;
    padding: 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo-container {
    text-align: center; /* Centra horizontalmente */
}

.logo {
    width: 100px; /* Tamaño de la imagen */
    transform: translate(100px);
}

.titulo {
    font-family: 'Roca One', sans-serif; /* Aplica la fuente Roca One */
    font-size: 72px; /* Tamaño de fuente */
}

.left-side p {
    font-size: 1.5em;
}

.right-side {
    width: 60%;
}

.right-side img {
    width: 90%; /* Reduce ligeramente el tamaño de la imagen */
    height: auto; /* Mantiene la proporción */
    object-fit: cover; /* Asegura que la imagen se ajuste sin distorsión */
}